* {
  margin: 0;
  padding: 0;
}

.blue {
  background-color: blue;
  width: 400px;
  height: 400px;
  position: relative;
  left: calc(50vw - 200px);
  top: calc(50vh - 200px);
}

.red {
  background-color: red;
  width: 300px;
  height: 300px;
  position: absolute;
  /* margin: 50px; */
  left: 50px;
  top: 50px;
}

.black {
  background-color: black;
  width: 200px;
  height: 200px;
  position: absolute;
  /* margin: 50px; */
  left: 50px;
  top: 50px;
}

.green {
  background-color: green;
  width: 100px;
  height: 100px;
  position: absolute;
  /* margin: 50px; */
  left: 50px;
  top: 50px;
}

.yellow {
  background-color: yellow;
  width: 50px;
  height: 50px;
  position: absolute;
  /* margin: 25px; */
  left: 25px;
  top: 25px;
}

.retangle {
  background-color: gray;
  width: 600px;
  height: 300px;
  position: relative;
  left: calc(50vw - 300px);
  top: calc(50vh - 150px);
}

.square {
  background-color: black;
  width: 100px;
  height: 100px;
  position: absolute;
}

.top-right {
  top: 0px;
  right: 0px;
}

.bottom-left {
  bottom: 0px;
  left: 0px;
}

.bottom-right {
  bottom: 0px;
  right: 0px;
}

.text-item-01 {
  background-color: black;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 30px;
  border-radius: 30px;
  text-transform: uppercase;
  text-align: right;
  width: 600px;
  height: 170px;
  position: relative;
  top: calc(25vh - 85px);
  left: calc(50vw - 300px);
}

.text-item-02 {
  background-color: black;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 30px;
  border: 5px solid red;
  width: 600px;
  height: 170px;
  overflow: scroll;
  text-align: justify;
  position: relative;
  top: calc(30vh - 85px);
  left: calc(50vw - 300px);
}

.square-light {
  background-color: black;
  width: 100px;
  height: 100px;
  margin: 5px;
  position: absolute;
}

.quadrate-02 {
  top: 0px;
  left: 105px;
}

.quadrate-03 {
  top: 0px;
  left: 210px;
}

.quadrate-04 {
  top: 105px;
  left: 0px;
}

.quadrate-05 {
  top: 210px;
  left: 0px;
}

.quadrate-06 {
  top: 105px;
  left: 105px;
}

.quadrate-07 {
  bottom: 0px;
  right: 0px;
}

.quadrate-08 {
  bottom: 0px;
  right: 105px;
}

.quadrate-09 {
  bottom: 0px;
  right: 210px;
}

.quadrate-10 {
  bottom: 105px;
  right: 0px;
}

.quadrate-11 {
  bottom: 210px;
  right: 0px;
}

.quadrate-12 {
  bottom: 105px;
  right: 105px;
}
